<a href="https://colab.research.google.com/github/22leejin/BCPClass2022/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num1 = 13
num2 = 3.14
num3 =-5
num4 = 3+6j
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'complex'>

In [2]:
string = 'python'
print(type(string))

<class 'str'>

In [3]:
n=17
id(n)
n="Seventeen"
id(n)

140377931193520

In [5]:
x=10
y=x
print(x is y)
print(id(x))
print(id(y))
y=5

print(x)
print(y)
print(id(x))
print(id(y))

True
94153620089632
94153620089632
10
5
94153620089632
94153620089472

In [6]:
x=[2,3,4,1,10,2]
y=x
print(x is y)
print(id(x))
print(id(y))

y[2]=15

print(x)
print(y)
print(id(x))
print(id(y))

True
140377792992992
140377792992992
[2, 3, 15, 1, 10, 2]
[2, 3, 15, 1, 10, 2]
140377792992992
140377792992992

In [7]:
x=[2,3,4,1,10,2]
y=list(x)
y[2]=15

print(x)
print(y)

[2, 3, 4, 1, 10, 2]
[2, 3, 15, 1, 10, 2]